# Build
build/
cmake-build-*/
out/

# Compiled
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.lib
*.a

# IDE
.vs/
.vscode/
.idea/
*.user
*.suo
*.sln
*.vcxproj*

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# OS
.DS_Store
Thumbs.db
Desktop.ini
